* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root{
     /* Light Mode Colors */
     --background-gradient-light-color-1:#8BC6EC;
     --background-gradient-light-color-2:#9599E2;
     --box1-background-gradient-light-color-1:#797ee2;
     --box1-background-gradient-light-color-2:#72bcee;
     --placeholder-light-text-color: #2d2d2d;
     --taskDone-button-light-color: #008f07;
     --delete-button-light-color:#980000;
     --inputBar-light-text-color:#000000;
     --text-light-color: #000000;
     --text-light-shadow: #ffffff;
     --single-task-light-odd-color:#797ee280;
     --single-task-light-even-color:#72bcee80;
     
     /* Dark Mode Colors */
     --background-gradient-dark-color-1:#004e92;
     --background-gradient-dark-color-2:#000428;
     --box1-background-gradient-dark-color-1:#0055a0;
     --box1-background-gradient-dark-color-2:#010d76;
     --placeholder-dark-text-color: #ffffff;
     --taskDone-button-dark-color: #00c900;
     --delete-button-dark-color:#de0000;
     --inputBar-dark-text-color:#fff;
     --text-dark-color: #ffffff;
     --text-dark-shadow: #000000;
     --single-task-dark-odd-color:#0055a080;
     --single-task-dark-even-color:#010d765c;
}

[color-scheme="light"]{
     --background-gradient-color-1: var(--background-gradient-light-color-1);
     --background-gradient-color-2: var(--background-gradient-light-color-2);
     --box1-background-gradient-color-1: var(--box1-background-gradient-light-color-1);
     --box1-background-gradient-color-2: var(--box1-background-gradient-light-color-2);
     --placeholder-text-color: var(--placeholder-light-text-color);
     --taskDone-button-color: var(--taskDone-button-light-color);
     --delete-button-color: var(--delete-button-light-color);
     --inputBar-text-color: var(--inputBar-light-text-color);
     --text-color: var(--text-light-color);
     --text-shadow: var(--text-light-shadow);
     --single-task-odd-color:var(--single-task-light-odd-color);
     --single-task-even-color:var(--single-task-light-even-color);
}

[color-scheme="dark"]{
     --background-gradient-color-1: var(--background-gradient-dark-color-1);
     --background-gradient-color-2: var(--background-gradient-dark-color-2);
     --box1-background-gradient-color-1: var(--box1-background-gradient-dark-color-1);
     --box1-background-gradient-color-2: var(--box1-background-gradient-dark-color-2);
     --placeholder-text-color: var(--placeholder-dark-text-color);
     --taskDone-button-color: var(--taskDone-button-dark-color);
     --delete-button-color: var(--delete-button-dark-color);
     --inputBar-text-color: var(--inputBar-dark-text-color);
     --text-color: var(--text-dark-color);
     --text-shadow: var(--text-dark-shadow);
     --single-task-odd-color:var(--single-task-dark-odd-color);
     --single-task-even-color:var(--single-task-dark-even-color);
}



body {

     /* Light Mode gradient  */
     /* background-color: var(--background-gradient-color-1); 
     background-image: linear-gradient(129deg, var(--background-gradient-color-1) 1%, var(--background-gradient-color-2) 59%); */

     /* Dark Mode gradient  */
     /* background: var(--background-gradient-dark-color-3);     */
     /* background: linear-gradient(to top, var(--background-gradient-dark-color-1), var(--background-gradient-dark-color-2), var(--background-gradient-dark-color-3));   */
     /* background: linear-gradient(to top, var(--background-gradient-dark-color-1), var(--background-gradient-dark-color-2));   */



     background: var(--background-gradient-color-2);
     background: -webkit-linear-gradient(to right, var(--background-gradient-color-1), var(--background-gradient-color-2)); 
     background: linear-gradient(to right, var(--background-gradient-color-1), var(--background-gradient-color-2)); 


     font-family: 'Poppins', sans-serif;
     height: 100vh;
     width: 100vw;
     display: flex;
     align-items: center;
     justify-content: center;
}

.box1 {
     /* Light Mode Gradient */
     /* background-color: var(--box1-background-gradient-color-1);
     background-image: linear-gradient(34deg, var(--box1-background-gradient-color-1) 32%, var(--box1-background-gradient-color-2) 100%); */
     
     /* Dark Mode Gradient */
     background-color: var(--box1-background-gradient-color-2);
     background-image: linear-gradient(180deg, var(--box1-background-gradient-color-1) 32%, var(--background-gradient-color-2) 100%);
     
     width: 160px;
     height: 160px;
     position: absolute;
     top: 152px;
     left: 440px;
     /* filter: blur(2px); */
     transform: rotate(45deg);
}

.box2 {

     /* Light Mode Gradient */
     /* background-color: var(--box1-background-gradient-color-1);
     background-image: linear-gradient(34deg, var(--box1-background-gradient-color-1) 32%, var(--box1-background-gradient-color-2) 100%); */
     
     /* Dark Mode Gradient */
     background-color: var(--box1-background-gradient-color-2);
     background-image: linear-gradient(180deg, var(--box1-background-gradient-color-1) 32%, var(--background-gradient-color-2) 100%);

     width: 180px;
     height: 180px;
     position: absolute;
     left: 898px;
     top: 430px;
     border-radius: 50%;
     /* filter: blur(3px); */
}

#themeButton{
     display: grid;
     place-items: center;
     position: absolute;
     right: 10px;
     top: 10px;
     background-color: #000;
     border-radius: 50%;
     width: 50px;
     height: 50px;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
     /* border: 2px solid black; */
}
#themeButton:hover{
     border: 2px solid white;
}

#themeButton i{
     color: #fff;
     font-size: 25px;
     transition: all 0.5s ease;
}

.flex-row {
     display: flex;
     flex-direction: row;
     width: 100%;
}

.flex-col {
     display: flex;
     flex-direction: column;
}

.w100 {
     width: 100%;
}

main {
     justify-content: space-between;
     align-items: center;
     height: 70%;
     width: 30%;
     min-width: 350px;
     min-height: 500px;
     border-radius: 10px;
     position: fixed;
     /* Light Mode Color */
     background: rgba(255, 255, 255, 0.02);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border: 2px solid rgba(255, 255, 255, 0.3);
}

/**---------------------------------------------------------------- Header (Input box) --------------------------------------*/
header {
     align-self: start;
}

.input-container {
     padding: 15px 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.task-icon-container {
     background-color: hsl(0deg 0% 92% / 70%);
     width: 42px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 7px 0 0 7px;
}

.plus {
     border-radius: 0 7px 7px 0;
     background-color: hsla(78, 56%, 55%, 0.9);
     cursor: pointer;
}

.plus:hover {
     background-color: hsla(78, 56%, 45%, 0.9);
}

.task-icon-container i {
     font-size: 20px;
}

.input-container input {
     background-color: hsl(0deg 0% 92% / 40%);
     width: 80%;
     height: 40px;
     border: none;
     font-size: 20px;
     padding: 0 0 0 10px;
     font-weight: lighter;
     /* border-radius: 0 10px 10px 0; */
}

input[type="text"]{
     color: var(--inputBar-text-color);
}

.input-container input:focus {
     outline: none;
}

input::placeholder {
     font-size: 1.2rem;
     color: var(--placeholder-text-color);
}

.complete-container {
     align-items: center;
     padding: 5px 20px;
}

.all-complete-container {
     align-items: center;
}

.complete-container span {
     width: 50%;
     font-weight: bold;
     color: var(--text-color);
     font-size: 15px;
     cursor: pointer;
     text-shadow: 1px 1px var(--text-shadow);
}

.all-complete-container {
     gap: 5px;
}

.all-complete-container i {
     font-size: 20px;
     color: var(--text-color);
}

/**-------------------------------------------------------Middle (TODOs box)------------------------------------------------------------------*/
.middle {
     position: relative;
}

.single-task-container {
     justify-content: space-between;
     align-items: center;
     height: 60px;
     padding: 0 20px;
     border: 3px solid hsl(0deg 0% 0%);
     border-radius: 5px;
     width: 97%;
     min-height: 50px;
}

li:nth-child(2n) {
     background-color: var(--single-task-even-color);
}

li:nth-child(2n+1) {
     background-color: var(--single-task-odd-color);
}

.strikethrough {
     text-decoration: line-through;
}


.all-tasks-container,
.uncomplete-tasks-container,
.complete-tasks-container {
     overflow-y: scroll;
     height:450px;
     align-items: center;
     gap: 5px;
}

/* Code for Hiding scrollbar */
.all-tasks-container::-webkit-scrollbar, 
.uncomplete-tasks-container::-webkit-scrollbar, 
.complete-tasks-container::-webkit-scrollbar { 
     display: none;  
}

/* .single-task-container{
     display: flex;
     align-items: center;
} */


.check-and-task-name {
     display: flex;
     align-items: center;
}

.single-task-container i {
     font-size: 25px;
     margin-right: 10px;
     color: hsl(0, 0%, 93%);
     transition: all 0.3s ease;
     cursor: pointer;
}

.single-task-container i.fa-circle-check:hover {
     color: var(--taskDone-button-color);
}

.single-task-container i.fa-trash-can {
     color: var(--delete-button-color);
}

.doneBtnGlow {
     color: var(--taskDone-button-color) !important;
}

.taskName {
     font-size: 1.2rem;
     font-weight: 700;
     color: var(--text-color);
}


/**---------------------------------------------------------------- Status (Task Status Bar)-----------------------------------------------------*/

footer {
     /* background-color: rgb(0, 0, 0); */
     color: var(--text-color);
     border-radius: 0 0 10px 10px;
}

.tabs {
     padding: 0 7px 5px;
     text-shadow: 1px 1px var(--text-shadow);
}

.task-left span {
     font-size: 14px;
     text-shadow: 1px 1px var(--text-shadow);
     font-weight: bold;

}

.tabs span {
     padding: 0 4px;
     font-size: 14px;
     font-weight: 900;
     cursor: pointer;
}

.active-tab {
     color: black !important;
     background-color: white;
     border-radius: 5px;
}

.credits{
     position: absolute;
     bottom: 10px;
     margin:10px auto;
     font-weight: bold;
     color: var(--text-color);
     letter-spacing: 2px;
     text-shadow: 1px 1px var(--text-shadow);
}

.fade-out-bck{-webkit-animation:fade-out-bck .7s both;animation:fade-out-bck .7s both}

@-webkit-keyframes fade-out-bck{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}100%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}}@keyframes fade-out-bck{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}100%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}}