* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: 'Poppins', sans-serif;
     height: 100vh;
     width: 100vw;
     display: flex;
     align-items: center;
     justify-content: center;
}

.animate__animated.animate__backOutDown {
     animation-duration: 5s;
}

.flex-row {
     display: flex;
     flex-direction: row;
     width: 100%;
}

.flex-col {
     display: flex;
     flex-direction: column;
}

.w100 {
     width: 100%;
}

main {
     justify-content: space-between;
     align-items: center;
     height: 600px;
     width: 450px;
     border-radius: 10px;
     /* background-color: hsl(0, 0%, 90%); */
     box-shadow: 0 0 10px 5px;
}

/**---------------------------------------------------------------- Header (Input box)-------------------------------------------------------*/
header {
     /* background-color: rgb(255, 255, 255); */
     align-self: start;
}

.input-container {
     padding: 15px 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.task-icon-container {
     background-color: hsl(0deg 0% 92%);
     width: 42px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 7px 0 0 7px;
}

.plus {
     border-radius: 0 7px 7px 0;
     background-color: hsl(78, 56%, 55%);
     cursor: pointer;
}

.plus:hover {
     background-color: #91BA35;
}

.task-icon-container i {
     font-size: 20px;
}

.input-container input {
     background-color: hsl(0deg 0% 92%);
     width: 80%;
     height: 40px;
     border: none;
     font-size: 20px;
     padding: 0 0 0 10px;
     font-weight: lighter;
     /* border-radius: 0 10px 10px 0; */
}

.input-container input:focus {
     outline: none;
}

input::placeholder {
     font-size: 1rem;
}

.complete-container {
     align-items: center;
     padding: 5px 20px;
}

.all-complete-container {
     align-items: center;
}

.complete-container span {
     width: 50%;
     font-weight: bolder;
     color: hsl(0deg 0% 40%);
     font-size: 13px;
     cursor: pointer;
}

.all-complete-container {
     gap: 5px;
}

/**-------------------------------------------------------Middle (TODOs box)--------------------------------------*/
.middle {
     /* background-color: rgb(255, 255, 255); */
     position: relative;
}

.single-task-container {
     justify-content: space-between;
     /* background-color: aqua; */
     /* align-items: center; */
     background-color: hsl(0deg 0% 92%);
     align-items: center;
     height: 60px;
     padding: 0 20px;
     border: 3px solid hsl(0deg 0% 0%);
     border-radius: 5px;
     width: 97%;
     min-height: 50px;
     /* margin: 10px 0; */
}

li:nth-child(2n) {
     /* background-color: blue; */
     background-color: hsl(0deg 0% 85%);
}

.strikethrough {
     text-decoration: line-through;
}


.all-tasks-container,
.uncomplete-tasks-container,
.complete-tasks-container {
     overflow-y: scroll;
     /* height: 430px; */
     align-items: center;
     gap: 5px;
}

/* .single-task-container{
     display: flex;
     align-items: center;
} */


.check-and-task-name {
     display: flex;
     align-items: center;
}

.single-task-container i {
     font-size: 25px;
     margin-right: 10px;
     color: hsl(0, 0%, 60%);
     transition: all 0.3s ease;
     cursor: pointer;
}



.single-task-container i.fa-circle-check:hover {
     color: #91BA35;
}

.single-task-container i.fa-trash-can {
     color: #CD0F0F;
}

.doneBtnGlow {
     color: #91BA35 !important;
}

/* 
.single-task-container:hover i.fa-trash-can {
     display: block;
} */

.taskName {
     font-size: 1.2rem;
     font-weight: 700;
}


/**---------------------------------------------------------------- Status (Task Status Bar)---------------------------------------------------------------*/

footer {
     background-color: rgb(0, 0, 0);
     color: white;
}

.tabs {
     padding: 0 7px 5px;
}

.task-left span {
     font-size: 14px;
     color: hsl(0deg 0% 60%);
     font-weight: 900;

}

.tabs span {
     padding: 0 4px;
     font-size: 14px;
     font-weight: 900;
     color: hsl(0deg 0% 60%);
     cursor: pointer;
}

.active-tab {
     color: black !important;
     background-color: white;
     border-radius: 0 0 5px 5px;
}

/* .flicker-out-1{-webkit-animation:flicker-out-1 2s linear both;animation:flicker-out-1 2s linear both}


@-webkit-keyframes flicker-out-1{0%{opacity:1}13.9%{opacity:1}14%{opacity:0;-webkit-box-shadow:none;box-shadow:none}14.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}15%{opacity:1}22.9%{opacity:1}23%{opacity:0;-webkit-box-shadow:none;box-shadow:none}24.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}25%{opacity:1}34.9%{opacity:1}35%{opacity:0;-webkit-box-shadow:none;box-shadow:none}39.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}40%{opacity:1}42.9%{opacity:1}43%{opacity:0;-webkit-box-shadow:none;box-shadow:none}44.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}45%{opacity:1}50%{opacity:1}54.9%{opacity:1}55%{opacity:0;-webkit-box-shadow:none;box-shadow:none}69.4%{opacity:0;-webkit-box-shadow:none;box-shadow:none}69.5%{opacity:1}69.9%{opacity:1}70%{opacity:0;-webkit-box-shadow:none;box-shadow:none}79.4%{opacity:0;-webkit-box-shadow:none;box-shadow:none}79.9%{opacity:1}80%{opacity:0;-webkit-box-shadow:none;box-shadow:none}89.8%{opacity:0;-webkit-box-shadow:none;box-shadow:none}89.9%{opacity:1;-webkit-box-shadow:none;box-shadow:none}90%{opacity:0;-webkit-box-shadow:none;box-shadow:none}100%{opacity:0}}@keyframes flicker-out-1{0%{opacity:1}13.9%{opacity:1}14%{opacity:0;-webkit-box-shadow:none;box-shadow:none}14.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}15%{opacity:1}22.9%{opacity:1}23%{opacity:0;-webkit-box-shadow:none;box-shadow:none}24.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}25%{opacity:1}34.9%{opacity:1}35%{opacity:0;-webkit-box-shadow:none;box-shadow:none}39.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}40%{opacity:1}42.9%{opacity:1}43%{opacity:0;-webkit-box-shadow:none;box-shadow:none}44.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}45%{opacity:1}50%{opacity:1}54.9%{opacity:1}55%{opacity:0;-webkit-box-shadow:none;box-shadow:none}69.4%{opacity:0;-webkit-box-shadow:none;box-shadow:none}69.5%{opacity:1}69.9%{opacity:1}70%{opacity:0;-webkit-box-shadow:none;box-shadow:none}79.4%{opacity:0;-webkit-box-shadow:none;box-shadow:none}79.9%{opacity:1}80%{opacity:0;-webkit-box-shadow:none;box-shadow:none}89.8%{opacity:0;-webkit-box-shadow:none;box-shadow:none}89.9%{opacity:1;-webkit-box-shadow:none;box-shadow:none}90%{opacity:0;-webkit-box-shadow:none;box-shadow:none}100%{opacity:0}} */